.nav
{
  background-color:#ffffff;
}
.navbar-nav
{
	margin-left:70%;
}
.nav-link
{
	margin:2%;
}
.nav-item
{
	padding-left:6%;
}
img
{
	width:100vw;
	max-height:70vh;
}

#aboutdiv
{
	padding:2rem;
	width:60%;
	height:20rem;
}
.images
{
	border-radius:100%;
}
h5
{
	text-align:center;
}
.lastfoot
{
  background-color:#11100c;
}
